@page { margin: 0cm; } 

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
    margin-left: 0.6cm;
    margin-right: 0.6cm;
    
}
#header{
    position:fixed ;
    top:0;
    display:none;
}
header {
	overflow: hidden;
    margin-bottom: 10px;
    
}
header nav, footer {
    display: none;
}
header hgroup {
	width: 80%;
	float: left;
	padding: 35px 0;
}

header figure {
	width: 20%;
	float: right;
    display:none;
}

.contactform {
	display: none;
}

.grid_8 {
	width: 46%;
	float: left;
	margin-right: 2%;
}

.grid_16 {
	clear: both;
    margin-top: 0.6cm;
    page-break-after: always;
}

h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin:30px 0 10px 0;
}

.competences li {
	display:inline-block;
	border-right: 1px solid #ccc;
	padding-right: 10px;
	margin-right: 10px;	
}

.contact ul li {
	list-style: square;
	margin-left: 40px;
}

.contact ul li.form {
	display: none;
}

p {
  orphans: 3; /* pas de ligne seule en bas */
  widows: 3; /* pas de ligne seule en haut */
}
#menu{
    display:none;
}
